button {
    font-family: 'Press Start 2P', cursive;
}

#board {
    margin-left: auto;
    margin-right: auto;
}

#board th {
    width: 100px;
    height: 100px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#header {
    text-align: center;
}

#title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(145, 105, 45);
}

#tutorial {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

#tutorial div {
    width: 111px;
}

#description {
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: rgb(243, 177, 77);
}

#details {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 1200px;
    height: 630px;
    padding: 20px;
    background-color: white;
    border: solid;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup p {
    text-align: left;
}

#popup img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 1024px;
    height: 600px;
}
    
#popup button {
    float: right;
    border: none;
    background-color: green; 
    color: white;
    width: 90px;
    height: 30px;
}

#popup button:hover {
    background-color: rgb(31, 204, 31);
}

#close-popup {
    display: none;
}

#details:hover {
    background-color: rgb(119, 118, 118);
}

#message {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    height: 12px;
}

#status{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

#level {
    width: 111px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #E9897E;
    border-radius: 10px 0px 0px 10px;
}

#difficulty {
    width: 320px;
    height: 50px;
    line-height: 50px;
    background-color: #FDAC53;
    color: white;
}

#mode {
    width: 111px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #9BB7D4;
    border-radius: 0px 10px 10px 0px;
}

#difficulty-choices {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.start {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
}

#easy {
    background-color: rgb(43, 160, 43);
}

#easy:hover {
    background-color: rgb(88, 231, 88);
}

#medium {
    background-color: rgb(61, 167, 216);
}

#medium:hover {
    background-color: rgb(113, 193, 230);
}

#hard {
    background-color: red;
}

#hard:hover {
    background-color: rgb(241, 113, 113);
}

#insane {
    background-color: purple;
}

#insane:hover {
    background-color: rgb(207, 79, 207);
}

#controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

#controller button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#clear {
    background-color: rgb(71, 66, 67);
}

#clear:hover {
    background-color: rgb(112, 103, 105);
}

#next {
    background-color: #2a8a85;
}

#next:hover {
    background-color: #42cac3;
}

#try-again {
    background-color: rgb(99, 95, 95);
}

#try-again:hover {
    background-color: rgb(134, 124, 124);
}

#next {
    display: none;
}